.gg-button {
  background-color: $light-accent;
  padding: $small $medium;
  border-radius: $radius;
  text-transform: uppercase;
  @include color-light($smoke);
  font-size: .75rem;
  font-weight: 700;

  &-primary {
    background-color: $primary;
    color: $primary-contrast;
  }

  &-error {
    background-color: $error;
    color: $error-contrast;
  }
}